.*/
.*
!.gitignore
compile_commands.json
*[Bb]uild*/
*[Rr]elease*/
*[Dd]ebug*/
[Bb]in/
[Oo]bj/
[Xx]86/
[Xx]64/
[Ww]in32/
[Ww]in64/
*.xcodeproj/
*.o
*.a
*.swp
*.tmp
*.exe
*.pdb
*.ilk
*.obj
*.log
*.tlog
*.bin
*.id
*.db
*.tar
*.zip
mytest
