[submodule "thirdparty/plink-ng"]
	path = thirdparty/plink-ng
	url = https://github.com/yywei/plink-ng.git
[submodule "script/vcpkg"]
	path = script/vcpkg
	url = https://github.com/microsoft/vcpkg.git
